.about-education-font-sm{
    font-size: 12.8px !important;
    font-family: Cloud !important;
    color: #676767;
}
.about-education-font-sm-light{
    font-size: 12.8px !important;
    font-family: Cloud light !important;
    color: #676767;
}
.about-education-location-padding{
    padding: 0;
    margin: 0;
}
.about-education-location-padding-l{
    padding-left: 22px !important;
}
.about-education-location{
    display: flex;
    align-items: center;
}
.about-education-location-select{
    display: flex;
    .about-insert-u{
        padding: 0;
        margin: 0 10px;
        font-weight: bold;
        font-family: Cloud light !important;
    }
    .about-insert-u2{
        cursor: pointer;
        margin-bottom: 10px;
        padding: 0;
        margin: 0px 10px;
    }
}
.about-edu-border{
    border: 1px solid #ced4da !important;
}
.about-edu-button-group{
    display: flex;
    justify-content: space-between;
    .edu-cancel{
        padding: 6px 30px;
        background-color: #a0a0a0 !important;
        border: none;
    }
    .edu-submit{
        background-color: #0f143a !important;
        padding: 6px 30px;
    }
}
.about-edu-container-edit{
    background-color : rgb(230,230,230);
    padding : 20px;
    border-radius : 10px;
    display: inline;
}
.about-edu-container-ship-input{
    // display : flex;
    // align-items : center;
}
.about-edu-container-exit-edit{
    text-align : right;
}
.about-edu-label-end-worked{
    margin : 18px 0px;
}
.about-edu-attact-document{
    background-color : white;
    padding : 15px;
}
@media only screen and (max-width: 800px) {
    .about-edu-label-end-worked{
        margin : 30px 0px;
    }
}
.about-edu-fontawesome{
    cursor: pointer;
    margin-bottom: 10px;
}
.about-edu-column{
    margin: 10px 0px;
    padding: 0px;
}
.about-edu-column2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .about-p{
        margin: 0;
        padding: 0;
    }
}
.about-edu-hide{
    display: none;
}
.about-edu-fontw{
    font-weight: bold;
}
.about-edu-attach{
    cursor: pointer;
    border: 2px dashed rgb(60,102,180);
    padding: 20px 15px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    .edu-input{
        cursor: pointer;
        opacity: 0;
        position: absolute;
        border: 1px solid red;
    }
    .edu-fontawe{
        cursor: pointer;
        text-align: center;
    }
}
.about-edu-attach2{
    display: flex;
    flex-direction: row;
    .edu-1{
        display: flex;
        margin:0px 10px;
        margin-top: 15px;
        border-radius: 5px;
        border: 1px solid rgb(200,200,200);
        width: 60px;
        flex-wrap: wrap;
    }
    .edu-2{
        width: 60px;
        border-radius: 5px;
        height: 60px;
    }
}
///////////////////////////////////////detail//////////////////////////////////////
.about-edu-container-logo{
    width: 70px !important;
}
.about-edu-container-detail{
    display : flex;
    justify-content : space-between;
    .edu-display{
        display: flex;
        width: 100%;
    }
}
.about-edu-container-text{
    padding : 0px 20px;
    width: 100%;
}
.about-edu-contaner-title-detail {
    padding : 0;
    margin : 0;
}
.about-edu-container-iconwithtext{
    display : flex;
    cursor : pointer;
    align-items : center;
}
.about-edu-contaner-text-icon-button{
    padding : 0;
    margin : 0px 5px;
}

.about-edu-contaner-text-detail {
    color : rgb(150,150,150);
    padding : 0;
    margin : 0;
}

.about-edu-contaner-logo{
    // border : 1px solid rgb(200,200,200);
    border: none;
    // border-radius : 15px;
    max-width:100%;
    max-height:100%;
    padding: 0;
}
.about-edu-contaner-cert-logo{
    font-size: 12.8px;
    font-family: Cloud-light !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
///////////////////////////////////////create new data modal/////////////////////////
.about-edu-modal-position{
    margin-top: 200px;
}
.about-edu-modal-body{
    padding: 20px;
    .edu-align{
        text-align: right;
        .edu-fotawe-cursor{
            cursor: pointer;
        }
    }
}
.about-edu-modal-body-upload-img{
    text-align: center;
    margin: 10px 0px;
}
.about-edu-modal-text-center{
    text-align: center;
}
.about-edu-modal-img-edit{
    opacity: 0;
    position: absolute;
    border: 1px solid red
}
.about-edu-modal-plus-icon{
    display : inline-flex;
    justify-content : center;
    align-items : center;
    border : 2px dashed rgb(60,102,180) ;
    border-radius : 10px;
    padding : 15px 17px;
}
.about-edu-modal-no-image{
    display : inline-flex;
    justify-content : center;
    align-items : center;
    border-radius : 10px;
    padding : 15px 15px;
}