.about-autocomplete-position1{
    width: 100%;
    padding: 30px 20px
}
.about-autocomplete-display1{
    display: flex;
    justify-content: space-between;
    font-size: 12.8px;
    overflow: hidden !important;
    .display1-img{
        position: absolute;
        margin: 8px;
        border: 1px solid rgb(200,200,200);
    }
    .display1-p{
        padding: 25px 20px 20px 61px;
        margin: 0;
        position: absolute;
        font-size: 12.8px;
        overflow: hidden !important;
    }
    .display1-p2{
        padding: 25px 20px 15px 25px;
        margin: 0;
        position: absolute;
        font-size: 12.8px;
        background-color: white;
        width: 100%;
        border-bottom: 1px solid rgb(200,200,200);
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
        
        .p1 {
            margin-left: 20px;
        }
    }
}
.about-autocomplete-display2{
    width: 100%;
    overflow: hidden !important;
    .display2-img{
        position: absolute;
        margin: 8px;
        border: 1px solid rgb(200,200,200);
        overflow: hidden !important;
    }
    .display2-input{

    }
}
.about-autocomplete-position2{
    position: absolute;
    z-index: 20;
    width: 92%;
    .position2-modal1{
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.9);
        padding: 0px 0px;
        left: 0px;
        top: 0px;
        z-index: 20;
        overflow: auto;
        width: auto;
        max-height: 189px;
    }
    .position2-openmodal{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
        z-index: 20;
        width: 100%;
        background-color: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .position2-modal2{
        padding: 0;
        margin: 0;
    }
}
.about-autocomplete-font-item{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 12.8px;
}
.about-autocomplete-container-dropdown-query{
    cursor:pointer;
}
.about-autocomplete-add-padding-left{
    padding-left : 40px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;        
}