.aboutmain-container{
    width :100%;
    background-color : white;
}
.aboutmain-container-header{
    background-color : #0F143A;
    color : white;
    padding : 10px 0px;

}
.aboutmain-header{
    padding : 0px 3vw;
    margin : 0px;
    font-size: 15px;
    font-family: cloud;
}
.aboutmain-header>h3{
    font-family: cloud;
    font-size: 15px;
}
.aboutmain-detail{
    display : flex;
    justify-content :space-between;
  
    padding : 0 0px;
    
}
.aboutmain-left-side{
    flex-basis: auto;
    box-sizing : border-box;
    border-right : 1px solid rgb(170,170,170);
    min-height : 85vh;
    padding : 0 0px 20px 0;
    text-transform: capitalize
}
.aboutmain-right-side{
    flex-grow: 1;
   
    padding : 40px 3vw;
}
.aboutmain-header-right-side{
    color : rgb(103,103,103);
    padding : 0px 0px;
    margin-bottom : 20px;
    border-bottom : 1px solid rgb(180,180,180);
    padding-bottom : 5px;
    font-size: 15px;
}
.aboutmain-container-small-screen {
    display : none;
}
@media only screen and (max-width: 800px) {
    .aboutmain-left-side{    
        padding : 20px;
    }
    .aboutmain-detail{                            
        flex-direction : column;                              
        padding : 0 0px;                                
    }
    .aboutmain-container-small-screen {
        display : block;
    }
    .aboutmain-container-big-screen {
        display : none;
    }
}