.calendar-input-datepicker {
  width: 75px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: solid 1px #efefef;
}

.calendar-modal{
  background-color: #f4f4f4 !important;
  padding: .8em 1em !important;
  font-family: Cloud !important;
  font-size: 12.8px;
  border-bottom: none !important;
}
.calendar-modal >h5{
  color: #4c4c4c !important;
  font-size: 15px !important;
}
.calendar-modal > button{
  span{
    font-family: Cloud Light;
  }
  font-size: 2em !important;
  color: #6d6d6d !important;
}
.calendar-modal-box{
  position: fixed;
  width: 100%;
}
////////////////////////////from addcalendar//////////////////////////////////////
.addcalendar-content{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.addcalendar-btn-save{
  background-color: #0F143A;
  border: none;
  margin-left: .3em;
  min-width: 115px;
  font-size:12.8px;
  &:hover{
    background-color: #0c1561;
    border: none;
  }
}
.addcalendar-btn-cancel{
  border: none !important;
  min-width: 115px;

  &:hover{
    border: none;
  }
}
.addcalendar-btn-buttongroup{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
}
.addcalendar-btn-topbutton{
  background: none;
  border: none;
  color: #010046;
  text-decoration: underline;
  font-family: "Cloud", "sans-serif";
  padding: 0 0 .5em;
  &:hover{
    background: none;
    border: none;
    color: #010046;
  }
  &:active{
    background: none !important;
    border: none !important;
    color: #010046 !important;
  }
  &:focus{
    box-shadow: none !important;
    border: none !important;
    outline:none !important;
  }
}
.addcalendar-datewrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  border-bottom:solid 1.5px #c2c2c2;
  margin-bottom:1em;
}
.addcalendar-daylist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.addcalendar-daysheader{
  font-family: "Cloud";
  font-size: 12.8px;
}
.addcalendar-nocalendar{
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1.5em;
  font-style: italic;
  color: #b3b3b3;
  font-family: "Cloud light";
}
///////////////////from addcalendar/////////////////////////////////////////////
.addcalendar-modalheader{
  background-color: #f4f4f4;
  padding: .5em 1em .5em 1em;
  font-family: cloud;
}
.addcalendar-font-sm{
  font-size: 12.8px !important;
}
.addcaendar-dateava-design{
  width: 100%;
}
///////////////////from avaliabledate/////////////////////////////////////////////
.avaliabledate-design{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.avaliabledate-design{
  display: flex;
  margin: 20px 40px 0 0;
}
.avaliabledate-wrap{
  width:100%;
  display: flex;
  flex-direction:row;
  padding: .7em;
  background-color: white;
  border-radius: 5px;
  border: solid 2px #AFAFAF;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .3s;
}
.avaliabledate-show-date{
  display: flex;
  flex-direction: row;
  background-color: #0D153A;
  border-radius: 5px;
  color: white;
  font-size: .7em;
  border-left: solid 13px #44A88C;
  padding: .5em 15px;
  font-size:12.8px;
}
.avaliabledate-date{
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: center;
  &:last-child{
    border-left: 1px solid darkgrey;
  }
  &>span:nth-child(2){
    font-family: Cloud;
    font-size: 15px;
}
}
.avaliabledate-caption{
  font-family: Cloud;
  font-size: 12.8px;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 10px;
  padding-left: 25px;
  width: auto;
  border: none;
}
.avaliabledate-caption-input{
  border: none;
  width: 100%;
  border-bottom: solid 1.5px #040044;
  &:focus{
    outline: none !important;
  }
}
.avaliabledate-close{
  font-family: Cloud;
  font-size: 1.2em;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 10px;
  color: #cccccc;
  cursor: pointer;
  margin-left: auto;
  &:hover{
      color: #707070;
  }
}
////////////////////responsive avaliable date/////////////////////////////////////////////
@media only screen and (max-width:767px){
  .avaliabledate-wrap{
    width: 45%;
  }
}