.title{
    display:flex;
    justify-content:space-between;
}
.card{
  background-color: white;
  position: relative;
}
.card-create{
    position:relative;
    z-index: 8;
    background-color: white;
    margin-bottom: 1em;
  }