.error-page-container {
    display: flex;
    .error-under-maintenance-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        margin-block-start: 0;
        margin-block-end: 0;
        z-index: 1;
    }
    .small-under-maintenance {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 15px;
        color: #000;
        z-index: 1;
    }
    .error-under-maintenance-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        width: 500px;
    }
    .go-back-btn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 12px 20px;
        border-radius: 25px;
        background: #0e143b;
        outline: none;
        color: #fff;
        border: 1px solid #1d2350;
        font-family: "Cloud";
        cursor: pointer;
        &:hover {
            background: #1d2350;
        }
        &:active {
            background: #1d2340;
        }
    }
}
