.eventfeed-content-container{
    position: absolute;
    display:flex;
    justify-Content: flex-start;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper-eventfeed-content-left{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    //width:17%;
    min-width: 150px;
  }

  .wrapper-eventfeed-content-center{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width:550px;
    min-width: 300px;
    margin-left: 10px;
  }

  .loading-event-gif {
    width: 100px;
    height: 100px;
  }

.wrapper-eventfeed-content-right{
    margin-top: 60px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width:500px;
    min-width: 300px;
  }

  .event-wrapper {
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
  }
  .event-wrapper:hover {
    cursor: pointer;
  }
  .event-banner {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .event-update {
    display: flex;
  }
  .event-wrap-btn {
    font-family: "Cloud Light";
    font-size: smaller;
    .btn-modal {
      background-color: #171e4a;
      border-color: #171e4a;
      color: #fff;
      padding: 2px 6px 2px 6px;
      margin-top: 10px;
      height: 30px;
      width: 100px;
      transition: 0.5s;
      background-color: #0f143a;
      outline: 0;
    } 
    .btn-modal:hover {
      transition: 0.5s;
      transform: scale(1.05);
      font-family: "Cloud";
    }
  }

.event-cover-main {
  width: 200px;
  height: 110px;
}

.event-cover {
  object-fit: cover;
  width: 200px;
  height: 110px;
}

  .eventpost-profile{
    width:50px;
    height:50px;
    border-radius: 100%;
  }
  .input-eventpost{
    width:59%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #0000001a;
    resize:none;
    overflow:hidden;
    display:block;
    padding-left: 10px;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
  }
  .text-create{
    padding: 0px 0px 10px 10px;
    font-family: Cloud Light;
    font-size: 12.8px;
    color: gray;
  }
  .wrapper-nav-event{
    display: flex;
    padding: 1em 1em 0em 1em;
    flex-direction: column;
  }
  .title-nav{
    font-family: Cloud;
  }
  .invite-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .date span{
    color: #8b8b8b;
    font-size: 12.8px;
  }
@media only screen and (max-width:876px){
    .wrapper-eventfeed-content-left{
        width:20%;
        min-width: 162px;
      }
      .wrapper-eventfeed-content-center{
        width: 80%;
      }
    .wrapper-eventfeed-content-right{
        width:0;
        visibility: hidden;
        display: none;
    }
}
@media only screen and (max-width:690px){
    .eventfeed-content-container{
        margin-top: 70px;
        margin-left: 3%;
        margin-right: 3%;
    }
}

.event-container-content {
  cursor: default;
  width: 100%;
  .wrapper {
    cursor: pointer;
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.2em;
    margin-right: 1em;
    transition: all 0.2s ease-in-out;
    flex: 0 0 auto;
    margin-top: 10px;
    transition: 0.5s;
  }
  .wrapper:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
  .wrapper:last-child {
    margin-right: 0;
  }
  .start{
    font-family:"Cloud";
    font-size:12.8px;
    margin-bottom: 0;
    max-width: 250px;
  }
  .captain{
      font-size:12.8px;
      color:#00000091;
      margin-bottom: .2em;
      display: flex;
  }
  .view{
      background-color: #636363;
      font-size: 12.8px;
      border-radius: 17px;
      padding: 0.2em .5em 0.2em .5em;
      color: white;
      margin-bottom: .3em;
      text-align: center;
      width: fit-content;
  }
}

.invite-search-box-list {
  background-color: white; 
  min-height: 30px;
  width: 435px;
  position: absolute;
  max-height: 120px;
  overflow-y: scroll;
  //border: 1px solid;
}

.invite-search-box-container {
  margin-top: 10px;
  padding-bottom: 10px;
  //border: 1px solid;
}

.invite-search-name {
  font-family: "Cloud";
  font-size: 12.8px;
  margin-left: 10px;
}

.loading-event {
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  font-family: "Cloud";
  font-size: 24px;
}