@font-face {
    font-family: "Cloud Light";
    src: url(/static/fonts/24989_Cloud-Light.woff); 
}
  
@font-face {
    font-family: "Cloud";
    src: url(/static/fonts/24988_Cloud-Bold.woff); 
}

.cloud-light {
    font-family: "Cloud Light", sans-serif;
}

.cloud {
    font-family: "Cloud", sans-serif;
}


.view-event-main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: default;
}

.no-verify {
    margin-top: 44px; 
}

.view-event-body {
    margin-top: 60px; 
    font-family: "Cloud Light";
    display: flex;
    width: 100%;
    height: 100%;
}

.view-event-not-found {
    font-family: "Cloud";
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 72px;
}

.view-event-loading {
    margin: 0;
    //font-family: "Cloud";
    //font-size: 100px;
    img {
        width: 150px;
        height: 150px;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

img:hover {
    cursor: pointer;
}


// ******************************************************* //
// *************** left-side of view-event *************** //
// ******************************************************* //
.left {
    font-family: "Cloud";
    background-color: white;
    width: 170px;
    height: 160px;
}

.left-head {
    cursor: default;
    width: 85%;
    height: 35px;
    margin-left: 15px;
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
}

.left-head-title {
    font-size: 15px;
    color: #171E4A;
    width: 100%;
    height: 100%;
    margin-left: 5px;
}

.left-head-icon {
    margin-bottom: 8px;
    width: 30px;
    height: auto;
}

.left-body {
    margin-top: 15px;
    margin-left: 15px;
    width: 85%;
}

.events {
    height: 20px;
    font-size: 12.8px;
    color: #888;
}

.my-events {
    height: 20px;
    font-size: 12.8px;
    color: #888;
}

.bookmarks {
    height: 20px;
    font-size: 12.8px;
    color: #888;
}

.left-body p:hover {
    cursor: pointer;
    color: #171E4A;
    border-bottom: 1px solid #171E4A;
}

.left-body-display {
    font-size: 12.8px;
    color: #171E4A;
    border-bottom: 1px solid #171E4A;
}


// ******************************************************* //
// *************** center-side of view-event ************* //
// ******************************************************* //
.center {
    margin-left: 10px;
    width: 700px;
}

.center-body {
    background-color: white;
}

.center-head {
    background-color: white;
}

.center-head-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.center-bottom {
    margin-top: 10px;
    background-color: white;
    max-height: 100%; 
    //border: 1px solid;
}

.display-none {
    display: none;
}


// ******************************************************* //
// *************** event-post of view-event ************** //
// ******************************************************* //
.creater {
    margin-top: 10px;
    margin-left: 3%;
    font-size: 12.8px;
    width: 94%;
    height: auto;
}

.creater-head {
    color: #888;
}

.creater-profile {
    display: flex;
}

.creater-bio {
    margin-top: 15px;
    margin-left: 15px;
    color: #888;
    width: 68%;
}

.creater-bio label {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #888888;
    position: relative;
    top: 6px;
    left: 5px;
}

.creater-name {
    cursor: pointer;
    font-size: 15px;
    color: #171E4A;
    font-family: "Cloud";
}

.creater-name:hover {
    text-decoration: underline;
}

.creater-created {
    margin-left: 10px;
}

.creater-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.event-privacy {
    cursor: pointer;
    background-color: #585858;
    border-radius: 10px;
    width: 120px;
    height: 23px;
    text-align: center;
    margin-top: 15px;
    padding-top: 2px;
    transition: 0.5s;
}

.event-privacy:hover {
    transform: scale(1.1);
}

.event-privacy-icon {
    width: 20px;
    height: 13px;
    margin-top: 2px;
    margin-bottom: 3px;
    filter: brightness(100);
}

.event-post-privacy {
    margin-left: 4px;
    color: white;
}

.creater-event-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.creater-caption {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    width: 660px;
}

.display-flex {
    display: flex;
}

.creater-caption-title {
    font-size: 12.8px;
    color: #171E4A;
    font-family: "Cloud";
    margin-left: 10px;
    max-height: 100px;
    width: 630px;
    overflow-y: auto;
}

.creater-caption-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.creater-location-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.creater-location {
    margin-top: 5px;
    display: flex;
    width: 660px;
}

.creater-location-name {
    margin-left: 10px;
    max-height: 100px;
    overflow-y: auto;
    width: 630px;
}

.creater-location-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.creater-due {
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
    height: 35px;
}

.creater-due label {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #888888;
    position: relative;
    top: 6px;
    left: 5px;
}

.creater-due-head {
    font-size: 12.8px;
    font-family: "Cloud";
    color: #171E4A;
}

.creater-due-date {
    margin-left: 10px;
}

.creater-due-period {
    margin-left: 5px;
}

.creater-request {
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
    height: 50px;
    display: flex;
}

.creater-acception {
    width: 80%;
    font-family: "Cloud Light";
    //border: 1px solid;
}

.creater-request button {
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    transition: 0.5s;
    //border: 1px solid;
}

.creater-btn-request-dropdown {
    img {
        width: 10px;
        height: auto;
        margin-right: 7px;
        margin-bottom: 3px;
        filter: brightness(100);
    }
    color: white;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 12.8px;
}

.creater-bnt-accepted-dropdown {
    font-size: 12.8px;
}

.creater-bnt-accept:hover, .creater-bnt-decline:hover, 
.creater-bnt-requested:hover, .creater-bnt-accepted:hover, 
.creater-bnt-wait:hover {
    font-family: "Cloud";
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.creater-bnt-wait {
    width: 150px !important;
    background-color: #CCCCCC; 
    span {
        color: black;
    }
}

.creater-bnt-accept {
    background-color: #45A88B;
}

.creater-bnt-decline {
    margin-left: 5px;
    background-color: #E45245;
}

.creater-bnt-requested {
    margin-left: 5px;
    background-color: #0E143B;
}

.creater-bnt-accepted {
    margin-left: 5px;
    background-color: #45A88B;

    img {
        width: 10px;
        height: auto;
        margin-right: 7px;
        margin-bottom: 3px;
        filter: brightness(100);
    }
}

.creater-body {
    font-family: "Cloud Light";
    margin-top: 10px;
    color: black;
    padding-bottom: 20px;
    background-color: white;
}

.creater-body-detail {
    overflow-y: auto;
    max-height: 200px;
    overflow-wrap: break-word;
}


// ******************************************************* //
// *************** drop-down of view-event *************** //
// ******************************************************* //
.dropdown-main{
    color: black;
}

.dropdown-list {
    &-display {
        display: block;
        position: absolute;
        text-align: center;
        width: 120px;
        height: 100px;
        z-index: 1;
        background-color: white;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    }
    &-none {
        display: none;
    }
}

.dropdown-arrowdown { 
    position: relative;
    top: 8px;
    left: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #4D4D4D transparent transparent transparent;
}

.dropdown-arrowup {
    position: relative;
    top: 8px;
    left: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #4D4D4D transparent;
}

.dropdown-items {
    margin-top: 15px;
    overflow: auto;
    color: #171E4A;
    font-family: "Cloud";
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #E3E3E3;
    height: 30px;
    transition: 0.5s;
}

.dropdown-items:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

.dropdown-title-name {
    display: flex;
    justify-content: center;
    div {
        text-align: center;
    }
}

.event-dropdown-arrow {
    margin-left: 10px;
    height: 100%;
    transform: scale(1.5);
}

.dropdown-main button{
    color: black;
    background-color: #cccccc;
    transition: 0.5s;
}

.dropdown-main button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
    font-family: "Cloud";
}

.dropdown-items img {
    width: 15px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 3px;
}


// ******************************************************* //
// *************** event-invite of view-event ************ //
// ******************************************************* //
.event-invite-main {
    padding-top: 20px;
    margin-left: 20px;
    width: 94%;
    max-height: 100%;
    padding-bottom: 10px;
}

.event-invite-total {
    font-size: 15px;
    font-family: "Cloud";
    border-bottom: 1px solid #ddd;
    height: 40px;
    color: #171E4A;

    img {
        margin-left: 10px;
        margin-bottom: 3px;
        width: 30px;
        height: auto;
        margin-right: 5px;
    }
}

.event-invited{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.event-invite-people {
    margin-top: 5px;
    width: 75%;
}
.event-invite-chatgroup button {
    color:white;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #171E4A;
    transition: 0.5s;
}

.event-invite-chatgroup button:hover {
    font-family: "Cloud";
    transform: scale(1.05);
    transition: 0.5s;
}

.event-invite-chatgroup {
    margin-left: 10px;
    font-size: 12.8px;
}

.event-invite-people img {
    margin-left: 5px;
    margin-top: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.event-invite-people-name {
    font-size: 15px;
    font-family: "Cloud";
    color: #4C76BA;
}

.people-name {
    color: #171E4A;
}

.event-invite-people-name button {
    color: #4C76BA;
}

.event-invite-people-name button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.event-invite-see-all {
    text-decoration: underline;
}

.event-invite-see-all:hover {
    cursor: pointer;
    color: #171E4A;
}

.event-invite-suggest {
    font-family: "Cloud";
    margin-top: 10px;
    max-height: auto;
    width: 100%;
    //padding-bottom: 20px;
    //border: 1px solid;
}

.event-invite-suggest-head {
    display: flex;
}

.event-invite-suggest-title {
    font-size: 15px;
    color: #171E4A;
    width: 80%;
}

.event-invite-suggest-invite {
    color: #4C76BA;
    text-decoration: underline;
    text-align: center;
    //transform: translateX(50%);
    width: 20%;
}

.event-invite-suggest-invite:hover {
    cursor: pointer;
    color: #171E4A;
}


// ******************************************************* //
// *************** popup-invite of view-event ************ //
// ******************************************************* //
.invite-friend-popup {
    font-family: "Cloud";
    &-open {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
        top: 10%;
        //left: 35%;
        width: 600px;
        max-height: 300px;
        position: fixed;
        background-color: white;
        z-index: 1;
        display: block;
        transition-delay: 1.0s ease;
        font-family: "Cloud Light";
    }

    &-close {
        width: 0px;
        height: 0px;
        display: none;
        transition-delay: 1.0s ease;
    }
}

.invite-friend-popup-head {
    display: flex;
    background-color: #EAEAEA;
    //height: 50px;
    width: 100%;
    font-family: "Cloud";
    font-size: 15px;
    color: #585858;
    &-title {
        opacity: 1.0;
        margin-left: 15px;
        font-size: 15px;
        font-family: "Cloud";
        //margin-top: 15px;
    }
}

.invite-friend-popup-body {
    max-height: 500px;
    background-color: white;
    font-family: "Cloud";
    width: 100%;
    &-title {
        margin-left: 30px;
        font-size: 15px;
        //margin-top: 30px;
    }
}

.invite-friend-popup-search {
    color: #585858;
    margin-top: 5px;
    font-size: 12.8px;
    border-bottom: 1px solid #E3E3E3;
    padding-top: 3px;
    padding-bottom: 5px;
}

.invite-friend-popup-search input[type=search] {
    width: 95%; 
    border: none;
    outline: none;
}

.popup-search-icon {
    width: 15px;
    height: auto;
}

.popup-search-icon:hover {
    opacity: 0.8;
}

.invite-fiend-popup-member-list {
    overflow-y: auto;
    max-height: 260px;
    min-height: 50px;
}

.invite-friend-popup-members {
    margin-left: 30px;
    margin-top: 5px;
    border: 1px solid #E3E3E3;
    height: 77%;
    padding-bottom: 20px;
    width: 90%;
    border-radius: 5px;
}

.invite-freind-popup-bnt {
    border-top: 1px solid #E3E3E3;
    text-align: center;
    font-family: "Cloud Light";
    font-size: 12.8px;
    margin-top: 30px;
    margin-left: 5px;
    width: 98%;
    line-height: 3px;
    .marginBot {
        padding-bottom: 10px; 
    }
    //height: 50px;
}

.font12 {
    font-family: "Cloud Light";
    font-size: 12.8px;
}

.font12:hover {
    cursor: pointer;
}

.font14 {
    font-family: "Cloud Light";
    font-size: 14px;
}

.font14:hover {
    cursor: pointer;
}

.invite-freind-popup-bnt button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    color: white;
    border-radius: 5px;
}

.popup-bnt-cancel {
    margin-right: 10px; 
    background-color: #aaaaaa;
}

.popup-bnt-share {
    font-size: 12.8px;
    background-color: #171E4A;
}

.search-box-display {
    z-index: 9 !important;
    display: block;
    position: absolute;
    width: 508px;
    max-height: 400px;
    background-color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.search-box-none {
    display: none;
}

.search-filter {
    margin-top: 15px;
    display: flex;
    font-size: 12.8px;
    font-family: "Cloud";
    border-bottom: 1px solid #E3E3E3;
    padding-left: 20px;
    padding-bottom: 15px;
}

.search-filter div {
    margin-right: 10px;
    border: 1px solid #45A88B;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-box-body {
    width: 95%;
    margin-left: 20px;
    margin-top: 10px;
    //background-color: black;
    min-height: 40px;
    margin-bottom: 10px;
    max-height: 200px;
    overflow-y: auto;

    .search-box-name {
        width: 70%;
    }

    .img-msg {
        width: 30px;
        height: 25px;
        transition: 1s;
        border-radius: 0px;
    }

    .img-msg:hover {
        transition: 1s;
        transform: scale(1.1);
    }

    button {
        width: 80px;
        height: 30px;
        color: white;
        transition: 0.5s;
    }

    button:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }

    div {
        margin-top: 10px; 

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        label {
            color: #171E4A;
            margin-left: 10px;
        }

        label:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.filter {
    &-on {
        background-color: #45A88B;
        color: white;
    }
    &-off {
        background-color: white;
        color: #45A88B;
    }
}

.search-filter div:hover {
    cursor: pointer;
}




// ******************************************************* //
// *************** member-event of view-event ************ //
// ******************************************************* //
.member-profile {
    margin-left: 15px;
    display: flex;
}

.member-pic {
    margin-top: 10px;
}

.member-pic img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.member-name {
    color: #0E143B;
    font-size: 12.8px;
    margin-left: 20px;
    margin-top: 30px;
    width: 79%;
    //border: 1px solid black;
    height: 20px;
}

.member-name span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.member-remove {
    margin-top: 30px;
    transition: 0.5s;
}

.member-remove:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.member-remove img {
    width: 20px;
    height: auto;
}

// ******************************************************* //
// *************** suggest-friend of view-event ********** //
// ******************************************************* //
.suggest-friend-main {
    margin-top: 10px;
    display: flex;
    font-family: "Cloud Light";
    font-size: 12.8px;
    height: 75px;
    //border: 1px solid;
}

.friend-profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.suggest-friend-pic {
    width: 90px;
    margin-top: 1px;
    //border: 1px solid;
}

.suggest-friend-pic label {
    background-color: #45A88B;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    right: 20px;
    top: 38px;
    //border: 1px solid;
}

.suggest-friend-info {
    margin-top: 10px;
    margin-left: 5px;
    width: 65%;
}

.suggest-friend-name {
    font-size: 15px;
    color: #171E4A;
    font-family: "Cloud";
}

.suggest-friend-name span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.suggest-friend-status {
    color: #45A88B;
    font-family: "Cloud";
}

.event-status-offline {
    color: #888888;
    font-family: "Cloud";
}

.suggest-friend-invite {
    margin-top: 10px;
    margin-left: 15px;
}

.suggest-friend-invite span{
    font-size: 14px;
}

.suggest-friend-invite button {
    border-radius: 3px;
    height: 30px;
    width: 100px;
    padding-top: 5px;
    //border: 1px solid;
    transition: 0.5s;
    //color: #171E4A;
    outline-color: none;
}

.suggest-friend-invite button:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.invited {
    font-family: "Cloud";
    color: #4C76BA;
}


.suggest-friend-invite img {
    width: 12px;
    height: auto;
    margin-bottom: 3px;
    margin-right: 10px;
    filter: invert(100%) hue-rotate(240deg) contrast(200%);
}

.suggest-friend-bnt-invite {
    width: 100px;
    background-color: #cccccc;
}

.suggest-friend-bnt-invited {
    width: 100px;
    background-color: #B8BFD1;
}




// ******************************************************* //
// *************** see-all of view-event ***************** //
// ******************************************************* //
.allmember-popup {
    &-display {
        z-index: 1;
        overflow: auto;
        display: block;
        background-color: white;
        position: fixed;
        top: 10%;
        //left: 35%;
        width: 600px;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    }

    &-none {
        display: none;
    }
}

.allmember-popup-main {
    font-family: "Cloud";
    color: #4D4D4D;
    background-color: white;
    max-height: 500px;
    overflow-y: auto; 
}

.allmember-popup-head {
    font-size: 14px;
    font-family: "Cloud";
    padding-left: 20px;
    padding-top: 10px;
    background-color: #EAEAEA;
}

.allmember-popup-head-title {
    width: 95%;
    font-family: "Cloud";
    font-size: 15px;
}

.allmember-popup-head-close {
    font-size: 20px;
    color: #888;
}

.allmember-popup-head-close:hover {
    cursor: pointer;
}

.allmember-popup-body-connected {
    border-bottom: 1px solid #EAEAEA;
    padding-left: 10px;
    //padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.list-connected {
    font-size: 14px;
}

.allmember-popup-body-other {
    border-bottom: 1px solid #EAEAEA;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}


// ******************************************************* //
// *************** see-all-connection of view-event ****** //
// ******************************************************* //
.allmember-main {
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    margin-top: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.allmember-profile-pic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 20px;
}

.allmember-info {
    margin-left: 15px;
    width: 85%;
}

.allmember-name {
    margin-top: 10px;
    font-size: 12.8px;
    color: #171E4A;
}

.allmember-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.allmember-ship {
    font-family: "Cloud Light";
    font-size: 12.8px;
}

.allmember-connecetion-bnt-connected {
    margin-top: 15px;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    background-color: #EAEAEA;
    margin-right: 20px;
    padding-top: 5px;
    transition: 0.5s;
}

.allmember-connecetion-bnt-connected span {
    font-size: 12.8px;
    margin-left: 10px;
}

.allmember-connecetion {
    display: flex;
}

.allmember-connecetion-kick {
    width: 25px;
    height: 25px;
    margin-top: 18px;
    margin-right: 10px; 
    transition: 0.5s;
    filter: brightness(100) invert(100);
}

.allmember-connecetion-kick:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.allmember-connecetion-bnt-connected img {
    width: 20px;
    height: auto;
    filter: brightness(100) invert(100%);
    margin-bottom: 3px;
}

.allmember-connecetion-bnt-other {
    margin-top: 15px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #EAEAEA;
    margin-right: 20px;
    transition: 0.5s;
}

.allmember-connecetion-bnt-connected:hover, .allmember-connecetion-bnt-other:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.allmember-connecetion-flex {
    display: flex;
}

.other {
    font-size: 12.8px;
}


// ******************************************************* //
// *************** right-side of view-event ************** //
// ******************************************************* //
.right {
    margin-left: 10px;
    //width: 650px;
    //background-color: white;
    font-family: "Cloud Light";
    height: 100%;
}

.right-top {
    width: 500px;
    min-height: 50px;
    max-height: 300px;
    background-color: white;
    .no-data-now {
        height: 40px;
    }
}

.right-bottom {
    //border: 1px solid;
    background-color: white;
    margin-top: 10px;
    width: 500px;
    //max-height: 500px;
    .no-data-now {
        height: 40px;
    }
}


// ******************************************************* //
// *************** relate-event of view-event ************ //
// ******************************************************* //
.relate-event-main {
    margin-left: 20px;
}

.relate-event-head {
    padding-top: 10px;
}

.relate-event-title {
    font-family: "Cloud";
    font-size: 15px;
}

.relate-event-body {
    display: flex;
    width: 95%;
    max-height: 240px;
    min-height: 30px;
    //border: 1px solid;
    background-color: white;

    .arrow {
        //border: 1px solid;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 35%;
        text-align: center;
        padding-top: 7px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: white;
    }

    .arrow img {
        width: 30px;
        height: auto;
        filter: invert(100);
    }

    .arrow:hover {
        cursor: pointer;
    }

    .arrow-left:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    .arrow-left {
       // border: 1px solid;
        position: relative;
        right: 15px;
        transition: 0.5s;
        z-index: 1;
    }

    .arrow-right:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    .arrow-right {
       // border: 1px solid;
        position: relative;
        left: 430px;
        transition: 0.5s;
        z-index: 1;

        img {
            transform: rotate(180deg);
        }
    }

    label {
        width: 15px;
    }
}

.relate-event-box-main {
    width: 220px;
    height: 240px;
    border: 1px solid #E3E3E3;
    transition: 0.5s;
    justify-content: center; 
    background-color: white;
}

.relate-event-box-main:hover {
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: 0.5s;
}

.relate-event-box-head {
    img {
        width: 100%;
        height: 120px;
        object-fit: cover;
    }
}

.relate-event-box-body {
    margin-top: 10px;
    font-size: 12.8px;
    text-align: center;

    img {
        width: 20px;
        height: auto;
        margin-right: 5px;
        margin-bottom: 5px;
    } 

    .relate-event-caption {
        font-family: "Cloud";
    }

    .relate-event-location {
        .event-location {
            width: 10px;
            height: 10px;
            margin-right: 5px;
        }
    }
}

.relate-event-box-bottom {
    //border: 1px solid;
    margin-top: 10px;
    display: flex;
    font-size: 12.8px;
    background-color: #EFEFEF;
    padding-top: 10px;
    padding-bottom: 8px;
    
    .relate-event-date-title {
        font-family: "Cloud";
        color: #171E4A;
        margin-left: 15px;
       // border: 1px solid;
        width: 50px;
    }

    .relate-event-date {
        //border: 1px solid;
        color: red;
    }
}

.relate-event-contents {
    display: flex;
    //border: 1px solid;
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    scroll-behavior: smooth; 
}

.relate-event-eachbox {
    width: 50%;
    margin-right: 10px;
    //border: 1px solid;
    background-color: white;
}



// ******************************************************* //
// *************** join-event of view-event ************** //
// ******************************************************* //
.friend-request-join {
    //border: 1px solid;
    margin-left: 20px;
    max-height: 500px;
}

.friend-request-join-none {
    display: none;
}

.friend-request-join-head {
    padding-top: 10px;
    font-family: "Cloud";
    font-size: 15px;
    padding-bottom: 10px;
}

.friend-request-join-body {
    background-color: white;
    max-height: 500px;
    overflow-y: auto; 
}




// ******************************************************* //
// *************** people-request of view-event ********** //
// ******************************************************* //
.people-request-main {
    margin-top: 10px;
    width: 100%;
    //border: 1px solid;
    display: flex;
    font-size: 12.8px;
    height: 90px;
    border-bottom: 1px solid #E3E3E3;
}

.people-request-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.people-request-pic label {
    width: 15px;
    height: 15px;
    background-color: #45A88B;
    border-radius: 50%;
    position: relative;
    bottom: 30%;
    left: 55px;
}

.people-request-info {
    padding-left: 20px;
    padding-top: 10px;
    //border: 1px solid;
    width: 80%;
}

.people-request-name {
    color: #171E4A;
    font-family: "Cloud";
}

.people-request-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.people-request-status {
    font-family: "Cloud";
    color: #45A88B;
}

.people-request-operantion {
    display: flex;
    margin-top: 20px;
    padding-left: 10px;

    .img-msg {
        margin-top: 2px;
        width: 32px;
        height: 26px;
        transition: 1s;
    }

    .img-msg:hover {
        transition: 1s;
        transform: scale(1.1);
    }
}

.people-request-operantion img {
    width: 30px;
    height: auto;
    margin-right: 5px;
    transition: 0.5s;
}

.people-request-operantion img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.people-request-bnt-chat {
    width: 80px;
    height: 30px;
    transition: 0.5s;
    label {
        color: white;
        font-size: 12.8px;
        font-family: "Cloud";
        margin-top: 5px; 
    }
    margin-right: 5px;
}

.people-request-bnt-chat:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
}



