.feed-content-container{
    display:flex;
    justify-Content: space-around;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}
.feed{
    justify-content:center;
    overflow-y: scroll;
}
.feed-content{
    width:90%;
}
.wrapper-feed-content-left{
    display: flex;
    flex-direction: column;
    width:65%;
    min-width: 450px;
    margin-right: .3em;
    scrollbar-width: none;
  }
.wrapper-feed-content-right{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 400px;
    margin-left: .3em;
    scrollbar-width: none;
}
@media only screen and (max-width:876px){
    .wrapper-feed-content-left{
        width:100%;
      }
    .wrapper-feed-content-right{
        width:0;
        visibility: hidden;
        display: none;
    }
}
@media only screen and (max-width:690px){
    .feed-content-container{
        margin-top: 70px;
        margin-left: 3%;
        margin-right: 3%;
    }
}
.chatlist-position {
    position: absolute;
    bottom: 8px;
    right: 16px;
    border-radius: 25px;
    z-index: 9;
}

.no-feed-wrapper-text {
    font-size: 24px;
    position: relative;
    left: 50;
    transform: translateX(50%);
}