

@media only screen and (max-width:875px){

    .forgot-fontbutton{
        display: none !important;
    }
    .forgot-btn-info{
        display: none !important;
    }
    .forgot-position{
        padding-top: 50% !important ;
        }

}
.forgot-position{
    padding-top: 80px !important ;
    }
.forgot-wrap{
    height: 100%;
}
.forgot-font{
    font-size: 12.8px!important;
}
.forgot-font-bold{
    font-size: 12.8px!important;
    font-family: Cloud;
}
.forgot-font-light{
    font-size: 12.8px!important;
    font-family: Cloud Light;
}
.forgot-head{
    flex-grow: 1;
    text-align: center;
}
.forgot-logo-border{
    border-bottom: solid 2px white;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.forgot-text{
    font-size: 12.8px;
    font-family: "Cloud";
    color: white;
    z-index: 1;
}
.forgot-fontbutton{
    font-family: "Cloud Light";
    font-size:12.8px;
    width: 18vw;
    height: 1.8vw;
    color: white;
  }
.forgot-btn-info {
    background-color: #3B6BB3 !important;
    border: 1px solid #3B6BB3 !important;
}
.forgot-create{
    font-family: "Cloud Light";
    font-size: 24px;
    width: 18vw;
    height: 1.8vw;
    color: white;
  }