.nearby-wrapper-friend-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .detail {
        margin-left: 20px;
        span{
            display: block;
            font-family: "Cloud";
            color: #05114f;
            font-size: 15px;
            line-height: 20px;
        }
        small{
            color: #808080;
            line-height: .9em;
            line-height: 4px;
            .organization-name {
                line-height: 20px;
                text-overflow: ellipsis;
            }
        }
        span:hover,.mutual:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        .mutual-friend{
            display:flex;
            align-items:center;
            margin-top:.2em;
            .sm-profile{
                width: 15px;
                height: 15px;
                overflow: hidden;
                border-radius: 100%;
                display: flex;
                img{
                    width:15px;
                    min-height:15px;
                }
            }
            .mutual{
                font-size: .7em;
                color: #31A7D7;
                padding-left: .5em;
            }
        }
    }
    .btn-nearby {
        position: absolute;
        right: 0;
        .btn-add-friend:active{
            transition: all .1s ease-in;
            transform:scale(1) !important;

        }
        .btn-add-friend:focus{
            box-shadow:none;
            outline:none;
        }

        .btn-add-friend:hover{
            transform:scale(1.1);
        }
        .btn-add-friend{
            background-color: transparent;
            border: solid 2px #1F2546;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: flex-end;
            color: #1F2546;
            transition:all .2s ease-in;
            align-items: center;
            
        }

    }
}

.people{
    line-height: 19.5px;
    margin-left: 10px;
}
.friend-item-wrapper{
    display:flex;
    align-items:center;
    border-bottom: solid 1px #d5d5d5;
    padding-bottom: .5em;
    margin-bottom: .3em;
    min-width: 300px;
    max-height: min-content;
    overflow: hidden;
    position: relative;
}
.friend-item-wrapper:last-child{
    border-bottom: none;
}
.friend-profile {
    padding:1px;
    border-radius: 100%;
    border: 2px solid #E0E0E0;
}
.friend-profile>img{
    max-width: 65px;
    max-height: 65px;
    min-width:65px;
    min-height:65px;
    width:65px;
    border-radius:100%;
}
.nearby-user-name{
    padding-bottom: 5px;
}
.nearme-online-offline {
    color: #2ECC71;
}
.nearme-location {
    line-height: 20px;
}
.info-nearby {
    font-size: 12.8px;
}