@media only screen and (max-width: 1024px){
    .regis-card-body {
        width: 80% !important;
    }
    .regis-card-body {
        padding: 0rem !important;
    }
}


@media only screen and (max-width: 767px){
    .regis-card-body{
        width: 100% !important;
        clear: both;
        display: table;
    }
    .mobile-logo{
        display: block !important;
    }
    .right-side{
        background-color: #171e4a !important;
    }
    .right-side{
        width: 100% !important;
        overflow: hidden;
    }
    .left-half{
        display: none !important;
        position: fixed;
        height: 100%;
    }
    .regis-card-body {
        padding: 0 !important;

    }
    .ch-card{
      position: fixed;
      height: 100%;
      overflow: hidden;
    }
  .login_create_account{
    font-size: 12.8px !important;
    height: 100%;
  }
}


.btn-chage-language{
    font-family: "Cloud";
    text-decoration-line: none;
}


.lang{
    font-size: 12.8px;
}
.lang:hover{
  text-decoration: none;
  cursor: pointer;
}
.lang>span{
  font-size: 12.8px;
}


.lang-icon{
    width: 20px;
    min-width:20px;
    padding-right: 1px;
    margin-right: 4px;
}

.btn-chage-language{
    position: absolute;
    color: black;
    z-index: 1000;
    right: 20px;
    top: 15px;
    padding: .5em;
}

.mobile-logo{
    width: 100%;
    display: none;
}

.regis-card-body{
    width: 70% ;
    margin-top : 3%;
    padding: 2em !important;
}

.select-type{
    display: flex;
    justify-content: center;
    font-family: "Cloud" !important;
}
.select-type>div{
    padding-right: 1em;
    padding-left: 1em;
    border-right: solid 1px #bebebe;
}
.select-type>div:last-child{
    border-right:none;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-login-socail {
    font-size: 12.8px !important;
    font-family: "Cloud";
    margin-bottom: .6em;
}
.divider{
    margin-bottom: 2em;
    width: 100%;
    border-top: solid 1px silver;
}

.input-login-font-lg{
    font-size: 1em !important;
}



.ch-page-container {
    display: flex;
    width: auto;
    height: 100vh;
    font-size: 12.8px;
  }
  
  .left-half {
    background-color: #171e4a;
    /* left: 0px; */
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    padding: 20px;
    /* flex-wrap: nowrap; */
  }
  
  
  .right-side {
    background-color: #ffffff;
    position: relative;
    right: 0px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 20px;
    flex-wrap: nowrap;
  }
  
  
  .center-left{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: #ffffff;
    position: relative;
    z-index: 1;
    flex-direction: column;
  }
  
  .logo-lock{
    width: 75%;
    height: auto;
    position: absolute;
    z-index: 0;
    display: flex;
    background-size: cover;
    /* transform: translate(0,-50%); */
  }
  
  .bg-lock{
    width:36%;
    height:auto;
    position: relative;
    display: flex;
    background-size: cover;
    cursor: default;
  }
  
  .centerline{
    font-size: 2vw;
  }
  
  .center-wel{
    font-family: "Cloud";
    font-size: 3vw;
    margin-top: 20px;
  }
  
  .ch-fontleft{
    font-family: "Cloud Light";
    font-size : 1.5vw;
    margin-bottom: 25px;
  }
  
  .ch-fontbutton{
    font-family: "Cloud Light";
    font-size:12.8px;
    width: 18vw;
    height: 1.8vw;
   
  }
  
  .ch-card {
    border: none !important;
    border-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
  }

  
  .ch-table-page {
    width: 100%;
  }
  
  .ch-fontfirst{
    font-family: "Cloud Light";
    font-size : 12.8px;
  }
  
  .ch-form {
    font-size: 12.8px;
    width: 100%;
    margin-bottom: 7px;
    position: relative;
    border-color: grey !important;
    border-width: 1.5px !important ;
   }
  
  
  
  .ch-formforgot {
    width: 175%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .tp-freeforgot{
    font-size: 12.8px;
    position: absolute;
    top: 8px;
    right: 10px;
    display: flex;
    font-family: "Cloud";
  }
  
  .ch-or{
    font-size: 1vw;
    opacity: 0.3;
  }
@media only screen and(max-height:600px){
  .right-side{
    overflow-y: auto;
  }
  .ch-card{
    overflow-y: auto;
  }
}
  
////////////////////////////////////responsive/////////////////////////////////////////////
.login-or2{
  position : absolute;
  bottom : -13px;
  background-color : white;
  padding : 0 ;
  margin :0;
  color : rgb(100,100,100);
  right : -30px ;
  width : 60px ; 
  text-align : center;
}
.login-or1{
  position: relative;
  margin: 0px 0px;
}
.login-page{
  display:flex;
  width:100%;
}
.login-fb{
  width : 100%;
  font-size: 12.8px;
}
.login-seaman{
  padding:  0px 50px 0px 0px;
}
.login-recruiter{
  padding:  0px 0px 0px 50px;
}
.login-login{
  background-color: #0f143a;
  font-size: 12.8px !important;
}
.login_create_account{
  font-size: 15px;
  font-family: "Cloud Light";
  width: 18vw;
  height: 1.8vw;
  display: block;
  padding-bottom: 5%
}
@media only screen and (max-width:840px) and (min-width:768px) {
  .login_create_account{
    padding-bottom: 15%;
  }
}
@media only screen and (max-width:960px) and (min-width:841px) {
  .login_create_account{
    padding-bottom: 13%;
  }
}