.menu-container {
    position: absolute;
    right: 0;
    margin-right: 10px;
    .post-menu {
        position: absolute;
        clear: both;
        z-index: 2;
        right: 0;
        box-shadow: 0 0 5px black;
        margin: 0;
        animation: slide-down 0.08s linear forwards;
        animation-timing-function: ease-out;
        background: #fff;
        .menulist-container {
            width: 200px;
            display: block;
            padding-inline-start: 0;
            margin-bottom: 0;
            padding: 10px 5px 5px 5px;
            .menu-list {
                font-family: "cloud", sans-serif;
                border-bottom: 1px solid #d5d5d5;
                margin: 5px;
                padding-left: 5px;
                list-style: none;
                .post-icon {
                    width: 15px;
                }
                .edit {
                    filter: invert(100%) brightness(100%) opacity(0.5);
                }
                .delete {
                    filter: invert(100%) opacity(0.5);
                }
                .privacy {
                    filter: invert(100%) brightness(0%) opacity(0.5);
                }
                .report {
                    filter: grayscale(100%) invert(100%) brightness(0%) opacity(0.5);
                }
                .menulist-text {
                    font-size: 14px !important;
                    overflow: hidden;
                    margin-left: 20px;
                    color: #0e143b;
                }
            }
            .menu-list:last-child {
                border-bottom: none;
            }
        }
    }
    .modal-post {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        .modal-post-main {
            position: fixed;
            background: white;
            width: 60%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .option-post-wrapper {
                color: #0e143b;
                padding: 10px 20px 20px 20px;
                .option-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .option-name-header {
                        font-size: 15px;
                        font-family: "cloud";
                    }
                    .option-name-close {
                        cursor: pointer;
                    }
                }
                .option-detail {
                    margin: 20px 10px;
                    font-size: 12.8px;
                }
                .option-button-container {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    margin-top: 20px;
                    .option-button {
                        margin-right: 10px;
                        width: 90px;
                        height: 40px;
                        border-radius: 10px;
                        border: 0px solid transparent;
                        font-size: 15px;
                    }
                    .red {
                        background-color: red;
                        color: white;
                        outline: 0;
                    }
                    .red:active {
                        background-color: rgb(175, 0, 0);
                        color: white;
                        outline: 0;
                    }
                    .grey {
                        background-color: rgb(231, 231, 231);
                        color: black;
                        outline: 0;
                    }
                    .grey:active {
                        background-color: rgb(170, 170, 170);
                        color: black;
                        outline: 0;
                    }
                    .option-button:last-child {
                        margin-right: 0px;
                    }
                }
                .option-privacy-post-wrapper {
                    .privacy-change-container {
                        display: flex;
                        justify-content: space-between;
                        .privacy-option {
                            display: flex;
                            align-items: center;
                            .privacy-selection {
                                width: 150px;
                                text-align: center;
                                position: relative;
                                .privacy-dropdown-click {
                                    padding: 4px;
                                    background: #cccccc;
                                    color: #000;
                                    border: 1px solid #cccccc;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    i {
                                        font-size: 10px;
                                        margin-left: 5px;
                                        margin-right: -5px;
                                    }
                                }
                                .dropdown-option {
                                    display: none;
                                    list-style: none;
                                    .privacy-sub-option {
                                        padding: 8px;
                                        color: #000;
                                        font-size: 12.8px;
                                        cursor: pointer;
                                    }
                                    .privacy-sub-option:not(:last-child) {
                                        border-bottom: 1px solid #eeeeee;
                                    }
                                }
                                .dropdown-show {
                                    display: block;
                                    width: 150px;
                                    background: #f0efef;
                                    border: 1px solid #f0efef;
                                    border-radius: 4px;
                                    position: absolute;
                                    padding-inline-start: 0px;
                                    z-index: 4;
                                }
                            }
                            .privacy-button-container {
                                margin-left: 10px;
                                .privacy-change-button {
                                    cursor: pointer;
                                    padding: 4px 8px;
                                    border: 1px solid #0e143b;
                                    background: #0e143b;
                                    color: #fff;
                                    border-radius: 4px;
                                }
                                .privacy-change-button:hover {
                                    background: #1d2350;
                                    color: #999;
                                }
                            }
                        }
                    }
                }
                .option-report-post-wrapper {
                    .report-main-wrapper {
                        display: flex;
                        justify-content: space-between;
                        .report-main-right {
                            position: relative;
                            width: 50%;
                            .report-submit {
                                position: absolute;
                                margin: 0 auto;
                                width: 50%;
                                text-align: center;
                                border-radius: 10px;
                                cursor: pointer;
                                background: #0e143b;
                                color: #fff;
                                bottom: 0;
                                right: 0;
                            }
                        }
                        .report-main-left {
                            width: 100%;
                            .reason-container {
                                width: 100%;
                                .report-reason-header {
                                    font-size: 30px;
                                    font-family: "cloud-bold";
                                    margin-right: 10px;
                                }
                                .reason-name-report {
                                    position: relative;
                                    display: block;
                                    border: 1px solid #0e143b;
                                    width: 80%;
                                    height: 50px;
                                    color: #0e143b;
                                    border-radius: 10px;
                                    margin-right: 20px;
                                    text-align: center;
                                    cursor: pointer;
                                    .reason-text-report {
                                        display: block;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                                .reason-name-report:not(:first-child) {
                                    margin-top: 4px;
                                }
                                .reason-name-report:hover {
                                    color: #fff;
                                    background: #0e143b;
                                }
                                .reason-name-report:active {
                                    background: #0e143b;
                                    color: #fff;
                                }
                                .reason-container-left {
                                    width: 50%;
                                    float: left;
                                }
                                .reason-container-right {
                                    width: 50%;
                                    float: right;
                                }
                                .hight-light-selected {
                                    font-family: "cloud-bold";
                                    background: #0e143b;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .click-anywhere-to-close {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.report-hight-light-selected {
    background: #0e143b;
    color: #fff;
}
.header-menu-container {
    right: 0;
    .post-menu {
        position: absolute;
        clear: both;
        z-index: 2;
        right: 0;
        box-shadow: 0 0 5px black;
        margin: 0;
        animation: slide-down 0.08s linear forwards;
        animation-timing-function: ease-out;
        background: #fff;
        .menulist-container {
            width: 150px;
            display: block;
            padding-inline-start: 0;
            margin-bottom: 0;
            padding: 10px 5px 5px 5px;
            .menu-list {
                font-family: "cloud", sans-serif;
                border-bottom: 1px solid #d5d5d5;
                margin: 5px;
                padding-left: 5px;
                list-style: none;
                .post-icon {
                    width: 15px;
                }
                .edit {
                    filter: invert(100%) brightness(100%) opacity(0.5);
                }
                .delete {
                    filter: invert(100%) opacity(0.5);
                }
                .privacy {
                    filter: invert(100%) brightness(0%) opacity(0.5);
                }
                .report {
                    filter: grayscale(100%) invert(100%) brightness(0%) opacity(0.5);
                }
                .menulist-text {
                    font-size: 14px !important;
                    overflow: hidden;
                    margin-left: 40px;
                }
            }
            .menu-list:last-child {
                border-bottom: none;
            }
        }
    }
    .close-menu-option {
        position: absolute;
        right: 0;
        padding: 5px 10px 0 0;
        cursor: pointer;
        i {
            font-size: 12.8px;
        }
    }
}

.event-margintop-header {
    margin-top: 0.4em;
    position: relative;
}
