// @keyframes ta-da{
//     from{
//         transform: scale(0) translate(-50%, -70%);
//         transform-origin: 50% 50%;
//     }
//     to{
//         transform: scale(1) translate(-50%, -70%);
//         transform-origin: 50% 50%;
//     }
// }
.photo-session {
    background-color: white;
    height: fit-content;
}

.photo-header {
    background-color: #0D153A;
    padding: 10px 0;
    font-size: 15px;
    font-family: "cloud";
}

.connection-header.photos {
    margin: 0;
    padding: 0 28.2px;
    color: white;
    font-size: 15px;
    font-family: "cloud";
}

.photo-sub-header {
    border-bottom: 1px solid #cccccc;
    display: flex;
}

.photo-sub-header>p {
    font-family: "cloud";
    margin: 0 10px;
    font-size: 12.8px;
}
.photo-sub-menu {
    padding: 10px;
    border-right: 1px solid #cccccc;
    width: 140px;
    cursor: pointer;
}
.photo-sub-menu p{
    font-family: "cloud";
    margin: 0 10px;
    font-size: 12.8px;
    text-align: center;
}
.add-photo-menu{
    right: 0;
    margin-left: auto;
    border-right: 0px solid transparent;
    border-left: 1px solid #cccccc;
}
.photo-container {
    width: 100%;
    height: fit-content;
    margin: 5px auto 8px auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
}

.photo-mini-pointer::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -11px;
    left: -9px;
    border-top: 9px solid white;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.photo-mini-pointer {
    position: relative;
    height: 0;
    width: 0;
    border-top: 8px solid #cccccc;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.your-photos-pointer{
    transform: translateX(60px);
}
.post-photos-pointer{
    // top: -8px;
    transform: translateX(200px);
}
.photo-child {
    width: 16vw;
    height: 16vw;
    margin: 0 5px 10px 5px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
}
.large-photo{
    position: fixed;
    width: 50%;
    height: 70%;
    top:50%;
    // bottom: 50%;
    left: 50%;
    // right: 50%;
    z-index: 8;
    transform: translate(-50%,-45%);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}
.large-photo img{
    object-fit: contain;
}
.close-photo{
    position: fixed;
    top: 80px;
    left: 92vw;
    z-index: 8;
}
.close-photo img{
    width: 3vw;
}
.photo-child:hover{
    cursor: pointer;
}
.photo-child img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.add-photo-modal-background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.1;
    z-index: 5;
}
.image-upload-photo {
    width: 100px;
    height: 100px;
    min-width: 100px;
    position: relative;
    background: #efefef;
    background-size: cover;
    .click-upload {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        color: #d8d8d8;
    }
}
.photo-submit-button{
    display: flex;
    height: 32px;
    margin-top: 15px;
}
.share-option-photo {
    padding: 4px 40px;
    border: 1px solid #0E143B;
    border-radius: 4px;
    right: 0;
    margin-left: 10px;
    cursor: pointer;
    background: #0E143B;
    color: #fff;
    height: 34px;
}
.disable-btn-photo {
    background: #000;
    opacity: .5;
    cursor: default;
}
.image-upload-photo:hover {
    cursor: pointer;
    .click-upload {
        color: #e0dede;
    }
}
.image-post-photo{
    display: flex;
    width: 400px;
    overflow-x: auto;
    margin-top: 15px;
    .image {
        width: 100px;
        height: 100px;
        min-width: 100px;
        cursor: pointer;
    }
    .image:hover {
        opacity: .5;
    }
}
.add-photo-modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    z-index: 6;
    transform: translate(-50%, -70%);
}
.add-photo-content{
    width: 400px;
    height : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #cccccc;
    color: #cccccc;
    font-family: "cloud";
    font-size: 15px;
    cursor: pointer;
}
.add-photo-content:hover{
    border: 2px dashed #aaaaaa;
    color: #aaaaaa;
}
.add-photo-content:active{
    background-color: #dddddd;
}
.privacy-option {
    width: 150px;
    text-align: center;
    position: relative;
    right: 0;
    margin-left: auto;
    .privacy-dropdown-click {
        padding: 4px;
        background: #CCCCCC;
        color: #000;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        cursor: pointer;
        i {
            font-size: 10px;
            margin-left: 5px;
            margin-right: -5px;
        }
    }
    .dropdown-option {
        display: none;
        list-style: none;
        .privacy-sub-option {
            padding: 8px;
            color: #000;
            font-size: 12.8px;
            cursor: pointer;
        }
        .privacy-sub-option:not(:last-child) {
            border-bottom: 1px solid #eeeeee;
        }
    }
    .dropdown-show {
        display: block;
        width: 150px;
        background: #f0efef;
        border: 1px solid #f0efef;
        border-radius: 4px;
        position: absolute;
        padding-inline-start: 0px;
        z-index: 4;
    }
}
@media (max-width: 770px){
    .close-photo img{
        width: 5vw;
    }
    .close-photo{
        left: 90vw;
    }
    .large-photo{
        width: 80%;
    }
}
@media (max-width: 350px){
    .close-photo img{
        width: 7vw;
    }
    .close-photo{
        left: 86vw;
    }
    .add-photo-content{
        width: 250px;
    }
}
@media (max-width: 400px) and (min-width: 351px){
    .close-photo img{
        width: 7vw;
    }
    .close-photo{
        left: 86vw;
    }
    .add-photo-content{
        width: 300px;
    }
}
@media (max-width: 500px) and (min-width: 401px){
    .add-photo-content{
        width: 350px;
    }
}
@media (max-width: 241px){
    .photo-child {
        width: 16.5vw;
        height: 16.5vw;
        margin: 0 0.35vw 0.7vw 0.35vw;
    }
    .photo-child img{
        border-radius: 5px;
    }
}
@media (max-width: 338px) and (min-width: 242px){
    .photo-child {
        width: 17vw;
        height: 17vw;
        margin: 0 0.5vw 1vw 0.5vw;
    }
    .photo-container {
        padding-left: 3.7vw;
    }
    .photo-child img{
        border-radius: 5px;
    }
}
@media (max-width: 445px) and (min-width: 339px) {
    .photo-child {
        width: 17.4vw;
        height: 17.4vw;
        margin: 0 0.5vw 1vw 0.5vw;
    }
    .photo-container {
        padding-left: 3vw;
    }
    .photo-child img{
        border-radius: 5px;
    }
}
@media (max-width: 480px) and (min-width: 446px) {
    .photo-child {
        width: 17.2vw;
        height: 17.2vw;
        margin: 0 0.5vw 1vw 0.5vw;
    }
    .photo-child img{
        border-radius: 5px;
    }
}
@media (max-width: 772px) and (min-width: 481px) {
    .photo-child {
        width: 17.7vw;
        height: 17.7vw;
        margin: 0 0.5vw 1vw 0.5vw;
    }
    .photo-child img{
        border-radius: 5px;
    }
}
@media (max-width: 763px) and (min-width: 446px){
    .photo-container {
        padding-left: 2vw;
    }
}
@media (min-width: 773px) {
    .photo-child {
        width: 141px;
        height: 141px;
    }
}
@media (max-width: 776px) and (min-width: 242px){
    .photo-child {
        margin: 0 0.6vw 1.2vw 0.6vw;
    }
}

@media (min-width: 1200px) {
    .photo-child {
        width: 196px;
        height: 196px;
    }
}


@media (min-width: 1300px) {
    .photo-child {
        width: 228px;
        height: 228px;
    }
}

@media (min-width: 1600px) {
    .photo-child {
        width: 288px;
        height: 288px;
    }
}