.post-viewer-less {
    margin-top: 61px; 
    width: 65%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.post-viewer-full {
    margin-top: 104px; 
    width: 65%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.post-viewer-center {
    font-family: "Cloud Light";
    font-size: 52px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}