@keyframes hoverlike-on{
    0%{
        transform-origin: 30px 0px;
        margin-top: -60px;
        visibility: visible;
        transform: translateY(50px) scale(0,0);
        opacity: 0;
    }
    20%{
        visibility: visible;
        transform: translateY(-10px) scale(1,1);
        opacity: 1;
    }
    35%{
        transform: translateY(0px);

    }
    100%{
        margin-top: -60px;
        visibility: visible;
    }
}
@keyframes hoverlike-off{
    0%{
        transform-origin: 30px 0px;
        margin-top: -60px;
        visibility: hidden;
        transform: translateY(20px);
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        margin-top: -60px;
        visibility: visible;
    }
}
@keyframes share-stretch {
    0% {
        transform: scale(.8, .8);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
.panel > button{
    color:#161c4c;
    font-size: 12.8px;
    transition: all .2s ease-in;
}
.panel > button:active{
    transition: all .1s ease-in;
    transform:scale(1) !important;
}
.panel > button:focus{
    box-shadow:none;
}
.panel > button:hover{
    transform:scale(1.2);
}

.like , .comment{
    font-family: "Cloud", serif;
    font-size: 12.8px;
}
.like>img{
    width: 15px;
}
#like1{
    z-index: 2;
}
.alt-like{
    width: 350px;
    animation: hoverlike-on 1s linear forwards;
    animation-timing-function: ease-out;
}
.alt-like.off{
    visibility: visible;
    width: 350px;
    height: 60px;
    animation: hoverlike-off 0.3s linear forwards;
    animation-timing-function: ease-out;
    animation-direction: reverse;
}
div[id^="like"]:hover{
    visibility: visible;
}
.count{
    display:flex;
    justify-content:space-between;
    border-bottom: solid 1px #0000001c;
    padding: .6em 1em;
}
.panel{
    display:flex;
    border-bottom: solid 1px #0000001c;
    padding-left: .5em;
    padding-right: .5em;
}
#like{
    visibility: hidden;
    width: 350px;
    height: 60px;
    background-color: white;
    position: absolute;
    float: left;
    clear: both;
    border-radius: 40px;
    margin-top:-100px;
    margin-left: -40px;
    z-index: 1;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}
.alt-like-icon{
    border: none;
    padding: 0;
    background: none;
    transition: 0.2s ease-in;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.alt-like-icon:hover{
    transform: scale(1.2);
}
.alt-like-icon:focus{
    outline: none;
    border: none;
}
.btn-container{
    text-align: center;
    height: 100%;
}
.like-icon{
    transition: all 0.2s ease-in;
    width:36px;
}
.like-icon:active{
    transform: scale(0.5);
}

.pop-up-share {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 10;
    overflow: auto;
    .share-screen {
        position: absolute;
        display: relative;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        background: white;
        animation: share-stretch .5s;
        .topper-share {
            display: flex;
            position: relative;
            padding: 10px;
            background: #eeeeee;
            .share-header {
                font-family: "cloud-bold";
            }
            .close-share {
                padding-right: 10px;
                position: absolute;
                right: 0;
                cursor: pointer;
            }
        }
        textarea {
            width: 100%;
            padding: 20px 10px;
            border: none;
            outline: none;
        }
        .submit-state {
            display: flex;
            float: right;
            align-items: center;
            background: #eeeeee;
            .submit-share-btn {
                float: right;
                padding: 8px 30px;
                background: #0E143B;
                border: 1px solid #0E143B;
                color: #fff;
                cursor: pointer;
            }
            .privacy-option {
                width: 170px;
                text-align: center;
                position: relative;
                .privacy-dropdown-click {
                    padding: 8px 30px;
                    background: #CCCCCC;
                    color: #000;
                    border: 1px solid #CCCCCC;
                    cursor: pointer;
                    i {
                        font-size: 10px;
                        margin-left: 5px;
                        margin-right: -5px;
                    }
                }
                .dropdown-option {
                    display: none;
                    list-style: none;
                    .privacy-sub-option {
                        padding: 8px;
                        color: #000;
                        font-size: 12.8px;
                        cursor: pointer;
                    }
                    .privacy-sub-option:not(:last-child) {
                        border-bottom: 1px solid #eeeeee;
                    }
                }
                .dropdown-show {
                    display: block;
                    width: 150px;
                    background: #f0efef;
                    border: 1px solid #f0efef;
                    position: absolute;
                    padding-inline-start: 0px;
                    z-index: 4;
                }
            }
        }
    }
}
.success-share {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 10;
    .success-box {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        width: 200px;
        height: 100px;
        background: white;
        animation: share-stretch .5s;
        text-align: center;
        .topper-notice {
            display: flex;
            position: relative;
            align-items: center;
            background: #eeeeee;
            .header {
                font-family: "cloud-bold";
            }
            .close-share {
                padding-right: 20px;
                position: absolute;
                right: 0;
                cursor: pointer;
                margin-top: 5px;
            }
        }
    }
}
.hide-share {
    display: none;
}
.loading-like-submit {
    width: 10px;
    height: 10px;
}
.emotion-button-like {
    width: 15px;
    min-width: 15px;
}