.notice-popup {
    font-family: "Cloud Light";
    font-size: 12.8px;
    width: 500px;
}

.notice-header{
    color: #05114f;
    font-size: 14px;
    font-family: "Cloud";
    margin-top: 5px;
    height: 35px;
    padding-left: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.notice-see-more {
    margin-top: 10px;
    font-family: "Cloud";
    font-size: 14px;
    color: #05114f;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    //border: 1px solid;
}

.notice-see-more:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.5s;
}

.notice-popup-loading {
    width: 40px;
    height: 40px;
}
