


@media only screen and (max-width: 1024px){

    .pull-right-term{
        width: 30% !important;

        .btn-primary-term{
            color: #fff;
            padding: 8px !important;

        }
    }
}

@media only screen and (max-width: 875px){

    .pull-right-term{
        width: 50% !important;
    }

    .col-md-8-term{
        margin-left: 5% !important;
    }
}

@media only screen and (max-width: 775px){
    .pull-left-term{
        width: 50% !important;
    }

    .pull-right-term{
        width: 40% !important;
    }
}

@media only screen and (max-width: 575px){

    .pull-right-term{
        width: 45% !important;
        
    }
}

@media only screen and (max-width: 475px){

    .pull-left-term{
        width: 0% !important;
    }

    .pull-right-term{
        width: 55% !important;

    }
}

@media only screen and (max-width: 375px){


    .pull-right-term{
        width: 55% !important;

        .btn-primary-term{
            padding: 4px !important;
        }
    }
    }

    @media only screen and (max-width: 354px){

        .pull-left-term{
            margin-left: 2px !important;
        }

        .pull-right-term{
            width: 55% !important;
    
            .btn-primary-term{
                padding: 4px !important;
                font-size: 0.85rem;
            }
        }
        }
    
