.profilePic-timeline {
    margin-left: -40px;
}

.header-name {
    font-size: 15px;
}

.detail {
    clear: both;
    font-size: 15px;
}

// .wrap-profile-strength {
//     font-size: 15px;
// }

.strength-percentage {
    font-size: 15px;
}
.timeline-btn-view-resume {
    background-color: #0e163c;
    color: white;
    border: solid 2px #ffffff;
    border-radius: 5px;
    line-height: 1.8em;
    width: 70%;
    font-size: 12.8px;
}

.header-menu {
    background-color: #fff;

    display: flex;
    flex-grow: 1;
}

.tl-header {
    color: #fff;
    background-color: #0b2e13;
    display: flex;
    justify-content: start;
    width: 100%;
    height: 250px;
    margin-bottom: .9em;
    margin-top: 60px;
}

.header-left-side {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 4;
}

.header-bar {
    background-image: linear-gradient(to bottom, #191e53, #0D153A);
    flex-grow: 10;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.abs-wrap-banner {
    position: absolute;
}

.wrap-banner {
    position: relative;
    padding-left: 200px;
    padding-right: 60px;
    margin-bottom: -3px;
    max-width: 100vw;
}

.wrap-name {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 1.5em !important;
}

.wrap-btn-edit-profile {
    display: flex;
    align-items: flex-end;
}

.timeline-wrap-progressbar-strength {
    padding: 5px;
}

.wrap-profile-strength {
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
}

.header-name {
    font-family: "Cloud";
    margin-bottom: 0;
}

.strength-percentage {
    margin-bottom: 0;
    color: #fe3c07;
    margin-left: 0.2em;
    font-family: "Cloud";
}

.btn-edit-about {
    padding: 3px 15px 1px !important;
    background-color: white !important;
    color: #07183f !important;
    font-family: "Cloud";
    font-size: 12.8px !important;
}

.btn-edit-about:hover {
    background-color: #dfdfdf !important;
}

.progress-bar {
    background-image: linear-gradient(to right, #cb242d, #e37732) !important;

}
@media only screen and (max-width: 690px)  {
    // .wrap.name{
    //     margin-top: 60px;
    // }
}
@media only screen and (max-width:767px){
    .wrap-profile-strength{
        position: fixed;
        display: block;
    }
}
/////////////////from inline////////////////////////////////////////////////////////////////////////////
