.youtube-form-wrapper {
    margin-top: 10px;
    .youtube-video-detail {
        background: #F2F3F5;
        padding: 10px;
        .youtube-video-name {
            .youtube-video-name-text {
                color: #292d33;
                font-family: "cloud-bold";
            }
        }
    }
}
.youtube-form-wrapper:hover {
    opacity: .9;
}