@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/react-date-range/dist/styles.css");
@import url("../node_modules/react-date-range/dist/theme/default.css");
@import url("_about.scss");
@import url("_timeline.scss");
@import url("_timeline-layout.scss");
@import url("_confirm-email.scss");
@import url("_login.scss");
@import url("_register.scss");
@import url("_terms.scss");
@import url("_autocomplete.scss");
@import url("_master.scss");
@import url("_checkbox.scss");
@import url("_calendar.scss");
@import url("_friend.scss");
@import url("_createpost.scss");
@import url("_postbox.scss");
@import url("_card.scss");
@import url("_reaction.scss");
@import url("_nearby.scss");
@import url("_frienditem.scss");
@import url("_feed.scss");
@import url("_eventfeed.scss");
@import url("_modalevent.scss");
@import url("_eventpost.scss");
@import url("_navbar.scss");
@import url("_softskilledit.scss");
@import url("_timelineheader.scss");
@import url("_shownotification.scss");
@import url("_plusicon.scss");
@import url("_event0.scss");
@import url("_photo.scss");
@import url("_friendinformation.scss");
@import url("_menu-container.scss");
@import url("_forgot.scss");
@import url("_timelineimageprofile.scss");
@import url("_aboutpersonaledit.scss");
@import url("_aboutpersonaldetail.scss");
@import url("_aboutmaincomponent.scss");
@import url("_chat.scss");
@import url("_post-popup.scss");
@import url("_youtube-form.scss");
@import url("_invitation.scss");
@import url("_menu-container-comment.scss");
@import url("_abouteducation.scss");
@import url("_eventbox.scss");
@import url("_aboutcompetency.scss");
@import url("_aboutsidebar.scss");
@import url("_aboutdropdowninput.scss");
@import url("_friendItemProfile.scss");
@import url("_postViewer.scss");
@import url("_notificationPage.scss");
@import url("_settingPage.scss");
@import url("_nearme.scss");
@import url("_statusFeed.scss");
@import url("_error.scss");
@font-face {
    font-family: "Cloud Light";
    src: url(/static/fonts/24989_Cloud-Light.woff);
}

@font-face {
    font-family: "Cloud";
    src: url(/static/fonts/24988_Cloud-Bold.woff);
}

.cloud-light {
    font-family: "Cloud Light", sans-serif;
}

.cloud {
    font-family: Cloud, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Cloud Light", "sans-serif";
}
a {
    text-decoration: none !important;
}
p {
    text-decoration: none !important;
}
.text-gray-1,
.cr-text-gray-1 {
    color: #636363;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.text-gray-1:hover {
    color: darken(#636363, 10%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.btn-primary {
    background-color: #0f143a !important;
    border: 1px solid #0f143a !important;
}
.btn-secondary {
    font-size: 12.8px !important;
}
.btn-info {
    background-color: #3b6bb3 !important;
    border: 1px solid #3b6bb3 !important;
}

.cr-radius-10 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;
}

.cr-bg-gray-1 {
    background: rgb(230, 230, 230);
}

.cr-bg-base-1 {
    background: #45a88c !important;
}

.cr-p-10 {
    padding: 10px;
}

.cr-p-20 {
    padding: 20px;
}

.cr-mb-20 {
    margin-bottom: 20px;
}

.cr-mb-10 {
    margin-bottom: 10px;
}

.cr-mt-10 {
    margin-top: 10px;
}

.cr-mt-20 {
    margin-top: 20px;
}

.cr-b,
.cr-text-b {
    font-weight: bold;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-55 {
    padding-top: 55px;
}

.pt-60 {
    padding-top: 60px;
}

.mr-20 {
    margin-right: 20px;
}

.full-width {
    width: 100%;
}

.modal-lg,
.modal-xl {
    &.full-width {
        max-width: 1000px !important;
    }

    .close {
        font-size: 3em;
        padding: 0;
    }

    .modal-header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
}

.containerIcon {
    display: flex;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.containerIconWithText {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.textIconButton {
    padding: 0;
    margin: 0px 5px;
    font-weight: bold;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100%;
}

.cr-about {
    &.sidebar-icon {
        max-width: 1em;
        max-height: 1em;
    }
}

.rdrMonthAndYearPickers {
    display: none !important;
}

.pull-right {
    float: right;
}

.cloud {
    font-family: "Cloud";
}

.text-gray-2 {
    color: #afafaf;
}

.rdrDayDisabled {
    background: none !important;
}

.rdrWeekDay {
    font-family: "Cloud";
    color: #0f143a !important;
}

.rdrMonths {
    position: relative;
}

.rdrMonthAndYearWrapper {
    position: relative;
    z-index: 9;
}

.rdrMonths > .rdrMonth > .rdrMonthName {
    position: absolute;
    top: -40px;
    text-align: center;
    width: 50%;
    padding: 0;
    font-family: Cloud;
    color: #0f143a;
    font-size: 1.4em;
}

.rdrMonths > .rdrMonth:first-child > .rdrMonthName {
    left: 0;
}

.rdrMonths > .rdrMonth:nth-child(2) > .rdrMonthName {
    right: 0;
}

.master-logo-container {
    width: 70px;

    img {
        border: 1px solid rgb(200, 200, 200);
        border-radius: 15px;
        max-width: 100%;
        max-height: 100%;
        padding: 0;
    }
}

.cr-flex {
    display: flex;
}

.cr-card {
    padding: 20px;
    border-radius: 10px;
    font-size: 12.8px;
    font-family: "Cloud Light", sans-serif;

    label {
        font-family: Cloud, sans-serif;
        font-size: 12.8px;
    }

    .close-container {
        text-align: right;
        float: right;
    }
}

.cr-card-expire {
    border: #ea8c83 solid 2px;
}

.cr-bg-gray-2 {
    background: #f2f2f2;
}

.cr-detail {
    .option-container {
        .option-btn {
            font-family: Cloud, sans-serif;
            text-decoration: none;
        }

        .option-list {
            position: absolute;
        }
    }
}

.hide {
    display: none;
}

.cr-header-title {
    font-family: Cloud, sans-serif;
    font-size: 15px;
    color: rgb(103, 103, 103);
}

.cr-pl-20 {
    padding-left: 20px;
}

.cr-pr-20 {
    padding-right: 20px;
}
.cr-pt-15 {
    padding-top: 15px;
}
.cr-pt-20 {
    padding-top: 20px;
}
.cr-pt-30 {
    padding-top: 30px;
}

.badge-orange {
    background: #d05626;
    color: #ffffff;
}

.cr-text-gray-2 {
    color: #afafaf;
}

.cloud-bold-12 {
    font-family: Cloud;
    font-size: 12.8px;
}
.mt-7 {
    margin-top: 7px;
}
.create-account-text {
    width: 250px;
}